# Real client configuration
environments/*/*.tfvars
environments/*/*.backend.hcl

# Terraform state and plans
.terraform/
.terraform-backup/
*.tfstate
*.tfstate.*
*.tfplan
backend.tf

# Variable files
terraform.tfvars
*.auto.tfvars

# Backup files
*.backup
*.bak